<strong>Olá, {{ name }}</strong>
<p>Seu cadastro foi realizado com sucesso.</p>
<p>Dados de acesso:</p>
<p>
  <strong>ID: </strong> {{ id }}<br />
  <strong>Senha: </strong> {{ password }}<br />
</p>
<a href="{{ url }}"
  style="color: #FFF; background: #313463; padding: 20px; display: flex; justify-content: center; margin: 0 auto; width: 80%; border-radius: 5px">
  Clique aqui e acesso o site
</a>
